@font-face {
    font-family: Mogen;
    src: url('../fonts/Mogen-Bold.eot');
    src: url('../fonts/Mogen-Bold.woff2') format('woff2'),
        url('../fonts/Mogen-Bold.woff') format('woff'),
        url('../fonts//Mogen-Bold.ttf') format('truetype'),
        url('../fonts/Mogen-Bold.otf') format('onetype-format');
    font-weight: normal;
    font-style: normal;
}